{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.{css,scss,module.css,module.scss}",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "trailingComma": "none"
}
